@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply text-cyan-600;
  }
}

@layer utilities {
  input[type='number'] {
    -moz-appearance: textfield;
  }

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

kbd {
  border-radius: 3px;
  padding: 4px;
  border: 1px solid black;
}
